# Dart / Flutter
.dart_tool/
.packages
build/
pubspec_overrides.yaml
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Tests
coverage/

# Appwrite Function secrets
backend/functions/*/.env
